<h1>EndUsers#show</h1>
<p>Find me in app/views/end_users/show.html.erb</p>


<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tr>
		<td>
			<%= @end_user.name %>
			<%= @end_user.surname %>
			<%= @end_user.name_kana %>
			<%= @end_user.surname_kana %>
		</td>
			<%= @end_user.name %>
			<%= @end_user.surname %>
			<%= @end_user.name_kana %>
			<%= @end_user.surname_kana %>
		<!-- <td><%= link_to  %></td>
		<td><%= @end_user.postal_code %></td> -->

	</tr>
</table>

