<h1>EndUsers#show</h1>
<p>Find me in app/views/end_users/show.html.erb</p>


<table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th></th>
			<th>名前（カナ）</th>
			<th></th>
			<th>郵便番号</th>
			<th>住所</th>
			<th>電話番号</th>
		</tr>
	</thead>

	<tr>
		<td><%= @end_user.surname %></td>
		<td><%= @end_user.name %></td>
		<td><%= @end_user.surname_kana %></td>
		<td><%= @end_user.name_kana %></td>
		<td><%= @end_user.postal_code %></td>
		<td><%= @end_user.address %></td>
		<td><%= @end_user.phone_number %></td>




	</tr>
</table>

